<h1>Nation Name</h1>

<div *ngIf="game; else loading">
  <p><strong>Turn:</strong> {{ game.turn }}</p>

  <ul>
    <li><strong>Stability:</strong> {{ game.stability }}</li>
    <li><strong>Economy:</strong> {{ game.economy }}</li>
    <li><strong>Legitimacy:</strong> {{ game.legitimacy }}</li>
  </ul>
  <section *ngIf="game">
    <h2>{{ currentDecision.title }}</h2>
    <p>{{ currentDecision.prompt }}</p>

    <button *ngFor="let opt of currentDecision.options" (click)="choose(opt.id)">
      {{ opt.label }}
    </button>
  </section>
</div>

<ng-template #loading>
  <p>Loading nation data...</p>
</ng-template>
